@media (max-width: 350px) {
  .badge {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

@media (max-width: 699px) {
  .btn-next {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}
